.container-fluid {    
    width: 70vh;  
}

label  {
    color: black;
}
.fa-exclamation {
    color: red;
}
.my-form {
    margin: auto;
}

.body {                
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: white;
    height: 100vh;
}

.EnterButton{
    margin-bottom: -2rem;
}