<div class="body p-2">
    <div class="container-fluid mt-5 p-4 border border-white">    
        <form [formGroup]='loginForm' (submit)="login()">
            <div class="form-group justify-content-center row">
                <div class="col-md-12 mb-3">
                    <label for="txtUsername" class="control-label">Username 
                        <i class="fa fa-exclamation" aria-hidden="true"></i></label>
                    <input formControlName="userName" #userNameInput
                     type="text" name="username" id="txtUsername" class="form-control">          
                     <app-messages text="Username é um campo obrigatório!"
                     *ngIf="loginForm.get('userName').errors?.required">
                    </app-messages>                  
                </div>      
                <div class="col-md-12">
                    <label for="txtPassword" class="control-label">
                        Senha
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </label>
                    <input 
                    formControlName="password" type="password" class="form-control"
                     name="" id="txtPassword">              
                    <app-messages text="Senha é um campo obrigatório!"
                     *ngIf="loginForm.get('password').errors?.required">
                    </app-messages>
                    <app-messages text=""                     >
                    </app-messages>   
                </div>           
                <div class="col-md-12 mt-2 d-flex justify-content-end EnterButton">                    
                    <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">Entrar</button>
                </div>
            </div>           
        </form>
    </div>
</div>