.fa-exclamation {
    color: red;
}

.body {                
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/background-login.jpg");     
    height: 100vh;
}

label  {
    color: white;
}