<div class="body p-2">    
    <div class="container-fluid mt-5 p-4">
        <form class="form mt-4">       
            <div class="form-group justify-content-center row">                
                <div class="col-md-12 mb-3">
                    <label for="username" class="control-label">
                        Username <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </label>                              
                    <input type="text" class="form-control" id="username">
                </div>     
                <div class="col-md-12 mb-3">
                    <label for="password" class="control-label">
                        Senha <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </label>
                    <input type="password" class="form-control" id="password">
                </div>      
                <div class="col-md-12 mb-3">
                    <label for="regra" class="control-label">
                        Regra <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </label>
                    <select name="" id="regra" class="form-control">
                        <option value="">
                            ADMIN
                        </option>
                    </select>
                </div>
                <div class="col-md-12 mt-2 d-flex justify-content-end">                    
                    <button class="btn btn-success mr-2 col-md-1" type="submit">Cadastrar</button>
                    <button class="btn btn-danger col-md-1" type="submit">Sair</button>
                </div>
            </div>
        </form>
    </div>
</div>