label  {
    color: black;
}

.fa-exclamation {
    color: red;
}

.body {                
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: white;
    height: 100vh;
}